<!-- your html code here -->

<div class="container p-3 mb-2 bg-white text-dark ">
    <div class="mb-3">
    <h2 class="fw-bolder">Contact</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, molestias. Perspiciatis commodi suscipit quibusdam exercitationem aliquam!
     Vitae nam deleniti sit, hic laborum architecto totam ab placeat veritatis eos dolorem tempora.</p>
    </div>
     <form class="p-3 mb-2 bg-light text-dark w-50 mx-auto bg-light.bg-gradient  border">
        <div class="mb-3">
      <form>
        <div class=" row mb-3 float-en">
          <label for="inputEmail3" class="col-sm-3 col-form-label text-dark fw-bold ">Your E-mail</label>
          <div class="col-sm-9">
            <input type="email" class="form-control fw-lighter" id="inputEmail3" placeholder="Your E-mail">
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-3 col-form-label text-dark fw-bold">Your message</label>
          <div class="col-sm-9">
            <textarea class="form-control fw-lighter" id="floatingTextarea" placeholder="Please enter your message here ..."></textarea>
          </div>
        </div>
        <div class= "d-grid gap-2 d-md-flex justify-content-md-end">
        <button type="submit" class="btn btn-primary float-right ml-2">Submit</button> 
      </div>
      </form>
</div>