<div class="container p-4 mb-2 bg-white ">
    <div class="row justify-content-start">
        <h3>The First Heading<span>will catch your eye</span></h3>
        <p>donec ullamcooper nulla non metus aauctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    
    <div class="col-3">
         <img src="http://4.bp.blogspot.com/-RsakYu0eyYY/TotMeZDFRZI/AAAAAAAAELY/pGw4ludQ4tc/s1600/walter.jpg" class="rounded float-end rounded-circle" styles="height:100px ; width:100px ;" alt="calvo breaking bad">
    </div>
</div>