<!-- your html code here -->
<div class="container my-5 bg-light">
    <div class="row">
        <div class="col">
            <h2 class="fw-bold">Portfolio</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio eligendi beatae sequi nostrum ex tempore aut, repellendus magnam totam, a cumque error tempora numquam ab laudantium nihil inventore modi distinctio!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 22rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary fw-bold">Project Name</h5>
                  <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary fw-bold">Project Name</h5>
                  <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
        <div class="col">
            <div class="card" style="width: 22rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-primary fw-bold">Project Name</h5>
                  <p class="card-text fw-light">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>
</div>