<!-- your html code here -->
<section class="container">
  <div class="row py-3">
    <div class="col-4 d-flex justify-content-end g-0 ">
        <!-- <figure class="figure" style=""> -->
            <img class="rounded-circle " src="https://media.istockphoto.com/photos/getting-down-to-work-picture-id939030682?b=1&k=20&m=939030682&s=612x612&w=0&h=2yt8aOPLOSQW3qRmwIpkXOv63ZOb4u66HkS_rOVg35Y=" alt="" style="width: 250px; height: 250px;">
        <!-- </figure> -->
    </div>
    <div class="col-8 g-0">
        <h2>The Second Heading <span>Is Pretty Coool Too.</span></h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem necessitatibus aliquid reiciendis doloribus natus illum nesciunt sed quis cumque quas ipsam commodi neque asperiores qui, ipsa ratione ut quos facilis.</p>
    </div>
  </div>
</section>